[submodule "haxe/dheap"]
	path = haxe/dheap
	url = https://github.com/jonasmalacofilho/dheap.git
[submodule "haxe/jonas-haxe"]
	path = haxe/jonas-haxe
	url = https://github.com/jonasmalacofilho/jonas-haxe.git
[submodule "haxe/polygonalds"]
	path = haxe/polygonalds
	url = https://github.com/jonasmalacofilho/polygonal-ds.git
